.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .wallet {
    color: #9fff00;
    font-size: 1.5rem;
  }
  
  